/********************************************************************
# Copyright 2017 Daniel 'grindhold' Brendle
#
# This file is part of parceldude.
#
# parceldude is free software: you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, either
# version 3 of the License, or (at your option) any later
# version.
#
# parceldude is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public
# License along with parceldude.
# If not, see http://www.gnu.org/licenses/.
*********************************************************************/


.feature {
    background-color: alpha(darker(mix(@theme_base_color,@theme_bg_color,0.3)), 0.8);
    border-top: 1px solid @theme_fg_color;
    padding-left: 10px;
}

.feature:first-child {
    border-top: none;
}

.featureswitch {
    margin-right: 10px;
}

.bigtext {
    font-size: 30px;
}
